:root {
    --slate-900: #1F314F; 
    --slate-500: #68778D; 
    --slate-300: #D5E1EF;
    --white: #fff; 
    --shadow:rgba(0, 0, 0, 0.0477);
  }

*{
    padding: 0;
    margin: 0;
}

body {
        background-color: var(--slate-300);
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

.card-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 20em;
    background-color: var(--white);
    border-radius: 1.25em;
    box-shadow:0 1.5625em 1.5625em var(--shadow);
    padding: 1em 1em 2.5em 1em; 
    text-align: center;
    gap: 1.25em; 
  }
  
  .card-wrapper img {
    display: block;
    width: 100%;
    border-radius: 0.6250em;
  }

.card-wrapper .card-title{
    font-size: 1.3750em;
    font-weight: bold;
    padding:0 1.25em;
    color: var(--slate-900);
}
.card-wrapper .card-description{
    font-size: 0.9375em;
    font-weight: normal;
    color: var(--slate-500);
    letter-spacing: 0.0125em;
    padding:0 1.25em;

}
@media only screen and (max-width: 48em) {
.card-wrapper{
    margin: 0 1.6875em;
}
}